.set-countdown-container {
  position: fixed;
  top: 0;
  left: 250px;
  width: calc(100vw - 250px);
  height: 100vh;
  background: url('https://wallpapers.com/images/hd/best-travel-background-3840-x-2160-soqerk9u74s7a458.jpg')
    no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.set-countdown-content {
  background: rgba(255, 255, 255, 0.81);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.countdown-input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  text-align: center;
  max-width: 250px;
}

.save-countdown-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease-in-out;
  margin-top: 10px;
}

.save-countdown-button:hover {
  background-color: #0056b3;
}
