.layout {
  display: flex;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  margin-left: 250px;
}

.itinerary-page,
.itinerary-form-container,
.itinerary-detail-container {
  width: 100%;
  max-width: 1400px;
  padding: 30px;
  border-radius: 15px;
  overflow-y: auto;
  margin-left: 200px;
}

.itinerary-page-wrapper,
.edit-itinerary-wrapper,
.home-wrapper,
.itinerary-detail-container,
.profile-container {
  margin-left: 120px;
}
