.list {
	background-color: #5a3e2b;
	color: #ffebb3;
	padding: 4rem 0;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 3.2rem;
	align-items: center;
}

input[type="checkbox"] {
	height: 2rem;
	width: 2rem;
	accent-color: #e5771f;
}

button,
select,
input {
	background-color: #ffebb3;
	color: #5a3e2b;
	font-family: inherit;
	border: none;
	border-radius: 10rem;
	padding: 1.2rem 3.2rem;
	font-weight: 700;
	font-size: 1.8rem;
	cursor: pointer;
}